services:
  app:
    build: .
    environment:
      - REDIS_URL=redis://redis:6379/
      - USER_AGENT
    ports:
      - "3000:3000"
    depends_on:
      - redis
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
